@import "../variable/variable";
@import "../mixin/font";

.production-list {
  padding: 40px 0;

  .production-main {
    .video-item {
      margin-bottom: 0;
      border: 2px solid #afafaf;
      border-radius: 10px;
      background-color: #f2f2f2;
      overflow: hidden;
    }
  }
}